div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.game-board {
  display: flex;
  box-sizing: content-box;
  flex-direction: column;
  width: 600px;
  justify-content: center;
  align-items: center;
}

.gray-row {
  display: flex;
  width: 100%;
  background-color: #dbdada;
}

.board-cell {
  flex: 1;
  height: 100px;
  border: 3px solid #222222;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 5px;
  margin: 1px;
}

.piece {
  font-size: 24px;
  font-weight: bold;
}

.selected {
  border: 3px solid green;
  background-color: #00ca00;
}

.disabled {
  background-color: #d1d1d1;
  border: 3px solid #222222;
  cursor: not-allowed;
  opacity: 0.5;
}

.destination {
  cursor: pointer;
  border: 3px solid rgb(0, 64, 174);
  background-color: #0ca2dd;
}

.attackDestination {
  cursor: pointer;
  border: 3px solid rgb(174, 0, 0);
  background-color: #dd0c0c;
}

.selectable {
  cursor: pointer;
  border: 3px solid green;
  background-color: #a1ffa1;
}

.selectable:hover {
  background-color: #00ca00;
}

.possibleMove {
  cursor: pointer;
  border: 3px solid rgb(39, 151, 249);
  background-color: #a1c2ff;
}

.possibleMove:hover {
  background-color: #4785f7;
}

.possibleAttack {
  cursor: pointer;
  border: 3px solid rgb(249, 39, 39);
  background-color: #ffa1a1;
}

.possibleAttack:hover {
  background-color: #f74747;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 15px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: large;
  width: 100%;
  height: 65px;
}

button:hover {
  background-color: #0069d9;
}

button:active {
  background-color: #005cbf;
}

button:focus {
  outline: none;
}

button.disabled {
  background-color: #ccc;
  cursor: not-allowed;
  opacity: 0.5;
  border: none;
}

.modifier {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border: none;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: large;
  width: 100%;
}

.selectedModifier {
  background-color: #0053ac;
  border: 5px solid #007bff;
}

.confirm {
  display: flex;
  justify-content: center;
  align-items: center;

  color: #fff;
  border: none;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: large;
  width: 100%;
}
