button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 20px 20px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: large;
  width: 100%;
}

button:hover {
  background-color: #0069d9;
}

button:active {
  background-color: #005cbf;
}

button:focus {
  outline: none;
}

button.disabled {
  background-color: #ccc;
  cursor: not-allowed;
  opacity: 0.5;
}

div {
  display: inline-flex;
  justify-content: center;
  width: auto;
}
