div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.game-board {
  display: flex;
  box-sizing: content-box;
  flex-direction: column;
  width: 400px;
  justify-content: center;
  align-items: center;
}

.gray-row {
  display: flex;
  width: 100%;
  background-color: #dbdada;
}

.board-cell {
  flex: 1;
  height: 100px;
  border: 3px solid #222222;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 5px;
  margin: 1px;
}

.piece {
  font-size: 24px;
  font-weight: bold;
}

.selected {
  border: 3px solid green;
  background-color: #00ca00;
}

.disabled {
  background-color: #ccc;
  border: 3px solid #222222;
  cursor: not-allowed;
  opacity: 0.5;
}

.destination {
  cursor: pointer;
  border: 3px solid rgb(0, 64, 174);
  background-color: #0ca2dd;
}
.selectable {
  cursor: pointer;
  border: 3px solid green;
  background-color: #a1ffa1;
}

.possibleMove {
  cursor: pointer;
  border: 3px solid green;
  background-color: #a1ffa1;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 15px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: large;
  width: 100%;
}

button:hover {
  background-color: #0069d9;
}

button:active {
  background-color: #005cbf;
}

button:focus {
  outline: none;
}

button.disabled {
  background-color: #ccc;
  cursor: not-allowed;
  opacity: 0.5;
  border: none;
}

.modifier {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border: none;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: large;
  width: 100%;
}

.confirm {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #de0000;
  color: #fff;
  border: none;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: large;
  width: 100%;
}

.confirm:hover {
  background-color: #b80000;
}