<!-- Board -->
<div class="game-board">
  <!-- <h2>Stage: {{ game.getStage() }}</h2> -->
  <!-- <h2>Active Player: {{ game.activePlayer.name }}</h2> -->
  <h4>
    X Pieces: {{ game.xPieces }} --------------------------------------- O
    Pieces: {{ game.oPieces }}
  </h4>

  <!-- Modfiers -->
  <div class="modifier">
    <div *ngFor="let modifier of game.activePlayer.modifiers">
      <button
        [ngClass]="{
          disabled:
            modifier.count === 0 || game.getStage() !== 'SELECT_MODIFIER'
        }"
        (click)="selectModifier(modifier.type)"
      >
        {{ modifier.type }} ({{ modifier.count }})
      </button>
    </div>
  </div>

  <!-- Confirm Turn button -->
  <button
    class="confirm"
    [ngClass]="{ disabled: game.getStage() !== 'END_TURN' }"
    (click)="confirmAndEndTurn()"
  >
    Confirm
  </button>

  <div
    class="board-row"
    *ngFor="let row of game.board; let i = index"
    [ngClass]="{ 'gray-row': i === 0 || i === 3 }"
  >
    <div
      *ngFor="let piece of row; let j = index"
      class="board-cell"
      [ngClass]="getCellClass(i, j)"
      (click)="this.selectTile(i, j)"
    >
      <span *ngIf="piece" class="piece">{{ piece.player }}</span>
    </div>
  </div>
</div>
