.game-board {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: auto;
}

.board-row {
  display: flex;
  width: 100%;
}

.gray-row .board-cell {
  background-color: #ddd;
}

.board-cell {
  flex: 1;
  height: 100px;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.piece {
  font-size: 24px;
  font-weight: bold;
}

.player-one {
  color: red;
}

.player-two {
  color: blue;
}
